$font-heading:'Suez One', serif;
$font-brand:'Dancing Script', cursive;
$font-text:'Barlow', sans-serif;

$bp-xl: 125em;//2000px
$bp-largest:75em; //1200px
$bp-large:62.5em; //1000px
$bp-medium:50em; //800px
$bp-small:37.5em; //600px
$bp-xs: 25em;//400px
$bp-xxs:12.5em;//200px

:root{
    --color-white:#fff;
    --color-primary:#FF66F5;
    --color-secondary:#0e0a48;
    --color-tertiary:#3843cd;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%; //10/16=62.5%

    @media only screen and (min-width:$bp-xl){
        font-size: 70%;
    }

    @media only screen and (max-width:$bp-largest){
        font-size: 50%;
    }

    @media only screen and (max-width:$bp-large){
        font-size: 40%;
    }

    @media only screen and (max-width:$bp-xs){
        font-size: 30%;
    }

    @media only screen and (max-width:$bp-xxs){
        font-size: 20%;
    }
}

body{
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-family: $font-heading;
}

.hero{
    background-image: url("../images/main.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

