.playing-section{
    margin:10rem 5rem;

    &__movies{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3rem;
        padding:5rem 0;
    }

    &__card{
        margin: auto;

        &-image{
            width: 100%;
        }
        &-name{
            font-size: 3rem;
            padding: 1.5rem 0;
            font-weight: 400;
        }

        &-genre{
            font-size: 2rem;
            font-family: $font-text;
        }
    }
}