.header{
    padding:0 5rem 10rem 5rem;
    
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
        border-bottom: 2px solid var(--color-white);

        
        @media only screen and (max-width:$bp-small){
            flex-direction: column;
            align-items: center;
        }
    }

    &__brand{

        a{
            font-size: 3rem;
            font-family: $font-brand;
            color: var(--color-primary);
            text-decoration: none;
        }

        @media only screen and (max-width:$bp-small){
            padding-bottom: 2rem;
        }
    }

    &__list{
        display: flex;
    }

    &__item{
        list-style: none;
        padding-right: 2rem;
        align-self: center;
    }

    &__link:active{
        color:var(--color-primary);
    }

    &__link{
        font-size: 1.5rem;
        color: var(--color-white);
        text-decoration: none;
        transition: all 0.2s;

        &:hover{
            transform: translate(3px,3px);
            color: var(--color-primary);
        }
    }

    .nav-2{
        display: flex;
        justify-content: space-between;
    
        font-size: 1.5rem;
        padding: 3rem 0;
        width: 70%;
        margin: auto;
    
        .register{
    
            &-list{
                display: flex;
            }
    
            &__item{
                list-style: none;
                padding-right: 2rem;
            }
    
            &__link{
                color: var(--color-white);
                text-decoration: none;
                transition: all 0.2s;
    
                &:hover{
                    color: var(--color-primary);
                }
            }
        }
    }

    &__content{
        text-align: left;
        margin: 5rem 0 2rem 6rem;

        &-heading{
            width: 60%;
            font-size: 7rem;
            text-shadow: #c8c8c8 1px 1px 0px,
                            #b4b4b4 0px 2px 0px, 
                            #a0a0a0 0px 3px 0px, 
                            rgba(140, 140, 140, 0.498039) 0px 4px 0px, 
                            #787878 0px 0px 0px, 
                            rgba(0, 0, 0, 0.498039) 0px 5px 10px;
        
        @media only screen and (max-width:$bp-small){
            width: 100%;
        }

        }

        &-text{
            font-family: $font-text;
            width: 50%;
            margin: 3rem 0;
            font-size: 1.8rem;

            @media only screen and (max-width:$bp-small){
                width: 100%;
            }

        }
    }

}
